@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Roboto:wght@300;400&display=swap');

/* Common styling */

html {
  scroll-behavior: smooth;
  width:100%;
  height:100%;
}

body {
  margin:0;
  padding:0;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:100%;
}


h1, h2, h3 {
    padding:0%;
    margin:0%;
}

/* Common styling Ending */


/*Header section*/

.nav  {
    margin-bottom:4%;
}

p {
     font-family: 'Roboto', sans-serif;
     font-weight:400;
     color:#5C5C5C;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

header h1 {
    padding:0%;
    margin-top:5%;
    font-family: 'Nunito Sans', sans-serif;
    font-size:250%;
}

header {
    background-size:cover;
    height:60vh;
    width:100%;
}

.animation-landing {
    margin-left:33%;
}

.landing {
   text-align:center;
   background-image: url('../shapes.svg');
   background-size:cover;
   background-repeat:no-repeat;
   height:100%;

}

#isometric-shape {
       background-image: url('../isometric.svg');
       background-size:cover;
       height:40%;
       width:100%;
}


                /* Navbar */ 
               .navbar h1 {
                    padding:0%;
                    margin:0%;
                    font-family: 'Roboto', sans-serif;
                    color:#0285e4;
                    font-size:150%;
                    height:50%;
                    
                }
                
                .navbar {
                padding:2.5%;
                height:10%;
                
                }
                
                .logo-img {
                    height:150%;
                }
                
                .logo-heading {
                font-size:200%;
                
                }
                
                ul {
                    
                    padding:0px;
                    margin-left:35%;
                    margin-top:-3%;
                }
                
                 li  {
                    float:left;
                    padding-left:5%;
                    list-style:none;
                }
                
                li a {
                    text-decoration:none;
                    color:black;
                        font-family: 'Nunito Sans', sans-serif;
                }
                
                li a:hover {
                    color:#0285e4;
                }
                
                #btn {
                    background-color:#0285e4;
                    padding:1vh;
                    color:white;
                    text-decoration:none;
                    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
                border-radius: 50px;
                    font-family: 'Nunito Sans', sans-serif;
                }
                
                .mobile-menu {display:none; margin-top:-10%;}
                
                @media only screen and (max-width: 600px) {
                    ul {
                        display:none;
                    }
                    .mobile-menu {
                        display:block;
                    }
                    .float {
                    float: none;
                    display: block;
                    }
                } 

                .mobileMenu {
                    background-color:#0285e4;
                    display:none;
                    text-align:center;
                    padding-top:5%;
                    height:10%;
                }

                .mobileMenu a {
                    color:#0285e4;
                    text-decoration:none;
                    padding-left:7%;
                    border-radius:5px;
                    background-color:white;
                    padding-right:7%;
                    font-family: 'Nunito Sans', sans-serif;
                }
                /* Navbar Ending */


/*Header Ending*/




/* Container */

.container {
    background-color:#0285e4;
    text-align:center;
    color:white;
    height:200%;
}

.container h2 {
    padding-top:10%;
    font-family: 'Nunito Sans', sans-serif;
}

/* Container Ending */




/* Footer */
.footer {
background-color:#112D57;
text-align:center;
padding-top:3%;
padding-bottom:2%;
}

.footer-container {
max-height:20vh;
min-width:15vh;
}
.footer-container p {
font-family: 'Nunito Sans', sans-serif;   
color:white;
}

/* Footer Ending */



/* Brands */

.brands {
text-align:center;
background-color:#FFFFFF;
height:55vh;
font-family: 'Nunito Sans', sans-serif; 
}

.brands h2 {
margin-top:6%;
}
    
.brands img {
height:30%;
border-radius:80%;
margin-left:5%;
margin-right:5%;
border:3px #0285e4 solid ;
}
    
    
.brands img:hover {
border:3px #112d57 solid;
}

/* Brands Ending */



/* UI Components */


.btn {
    padding:2vh;
    text-decoration:none;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #0285e4;
    color:white;
}


.card {
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    width:20%;
    color:black;
    height:35%;
    overflow:hidden;
    padding-left:3%;
    padding-right:2%;
    text-overflow:elipsis;
    float:left;
    margin-left:12%;
    font-family: 'Nunito Sans', sans-serif;
    padding-top:5%;
    margin-right:12%;
    margin-top:15%;
}

input {
    border:1px #d0d0d0 solid;
    border-radius:40px;
    width:50%;
    height:8vh;
    text-align:center;
}

/* UI Components Ending */


/* Dashboard */

    /* Dashboard Menu */

    .dashboard-navbar {
        height:100vh;;
        background-color:#0285E4;
        width:10vh;
        text-align:center;
        float:left;
    }


    .dashboard-navbar img {
        height:5%;
        margin-top:20%;
    }

    #menu {
        margin-top:100%;
    }

    .icon {
        height:3%;
        padding-top:80%;
        -webkit-user-select:none;
        user-select:none;
    }


    /* Dashboard Menu Ending */


    /* Dashboard Container */

    .dashboard-container {
        background-color:#e3e5e6;
        height:100vh;
        font-family: 'Nunito Sans', sans-serif;
    }
    
    .dashboard-heading {
        height:10vh;
        background-color:#ffffff;
        text-align:center;
        font-size:7vh;
        padding-top:0.5%;
        font-weight:300;
         font-family: 'Roboto', sans-serif;
    
    
    }
    
    .dashboard-content {
        margin-left:20vh;
        margin-right:10vh;
        margin-top:5%;
        border-radius:3vh;
        text-align:center;
    }

    .advisorRegister {
        display:none;
    }


    /* Dashboard Container Ending */

/* Dashboard Ending */